# Config file
# File format: each parameter setting is a single line.
# The format of the lines is: <parameter name><TAB><parameter value>
# Empty lines or lines starting with # are ignored
# Config file does not need to be "complete", for parameters not given in the config file a default value is used.

##############################################################################
#
#             Setup description (!!! has to be first section)
#
##############################################################################

# First line has to be DEVICE
# Values: CHIPDAQ, TELESCOPE, OBHIC, IBHIC, MFT5, MFT4, MFT3, MFT2, OBCHIPMOSAIC, IBCHIPMOSAIC, HALFSTAVE
# Note: Mosaic setups assume ICM board for chip (IBCHIPMOSAIC) or MFT ladder (MFT5, MFT4, MFT3, MFT2)
# Note 2: Mosaic setups assume IB adaptor for stave, OB adaptor for module !!
# Note 3: only the device type HALFSTAVE requires the number of modules, given by NMODULES
# Note 4: only the device type TELESCOPE requires the number of chips, given by NCHIPS

#--->DEVICE CHIP
DEVICE IBHIC

# NCHIPS is used only for device TELESCOPE
#NCHIPS 1

# NMODULES used only for device HALFSTAVE
#NMODULES 7

# For multi-chip devices, by default all chips are enabled.
# In addition chips which do not respond on the control interface are disabled automatically.
# If you want to disabled a given chip in your multi-chip device, you can write for e.g.
# ENABLED_0 0
# this will disabled the chip number 0 in your chip array.
# Note: please make sure that the index not goes beyond the number of chips in the selected device.

#ENABLED_0 0
ENABLED_1 0
#ENABLED_2 0
ENABLED_3 0

ENABLED_4 0
ENABLED_5 0
ENABLED_6 0
ENABLED_7 0
#ENABLED_8 0

# Chip-by-chip settings for receiver and control interface if different from default
# Currently ignored for DAQ board (both set to 0)

RECEIVER_7 0
RECEIVER_8 1
#RECEIVER_0 9
#RECEIVER_1 0
#RECEIVER_0 3
#CONTROLINTERFACE_0 1
#CONTROLINTERFACE_1 0

##############################################################################
#
#             Scan parameters
#
##############################################################################

# NMASKSTAGES: number of mask stages; default: 3
# Number of mask stages needed for full chip depends on setting of PIXPERREGION (see below):
# NMASKSTAGES = 16384 / PIXPERREGION

# CHARGESTART: start charge for threshold scan; default: 0

# CHARGESTOP: stop charge for threshold scan; default: 50

# NINJ: number of injections per point; default: 50

# PIXPERREGION: number of enabled pixels per region; 32 means each mask stage enables a full row
# allowed (reasonable) values: 1, 2, 4, 8, 16, 32; default: 32

# Parameters for noise occupancy scans:
# NTRIGGERS: number of triggers to acquire before stopping the run (default = 1000000)
# NTRGPERTRAIN: number of triggers per train (default = 100)

#NTRIGGERS 100
#NTRGPERTRAIN 5

##############################################################################
#
#             Readout Board Settings
#
##############################################################################

# BOARDVERSION: for DAQ board with firmware > 247e0611
# as of firmware version 247e0611 the DAQboard version (v2 or v3) must be defined; 0 -> v2; 1 -> v3;  

# ADDRESS: IP address of MOSAIC board
ADDRESS 192.168.168.250

# STROBEDELAYBOARD: delay between pulse and strobe if the strobe is generated by the readout board
# in units of 25 ns (default 20)
# (use 50 for external trigger settings)
# (use 40 for internal trigger settings)

# PULSEDELAY: for the MOSAIC board the delay between strobe and next pulse
# (default 1000)
# (use 500 for external trigger settings)
# (use 4000 for internal trigger settings)

# TRIGGERSOURCE: source of the trigger. Default 1. 0 = external trigger, 1 = internal trigger
TRIGGERSOURCE 1

##############################################################################
#
#             MOSAIC Board specific Settings
#
##############################################################################

# TCPPORTNUMBER:             the TCP/IP port number. Default value 2000
# NUMBEROFCONTROLINTERFACES: Default 12
# CONTROLINTERFACEPHASE:     The phase of Control Interfaces phase. Default value 2
# CONTROLAFTHRESHOLD:        Default value 1250000
# CONTROLLATENCYMODE:        The latency mode for the TCP/IP packet transmission. 0 = End Of Event, 1 = Memory, 2 = Timeout
# CONTROLTIMEOUT:            The timeout in the TCP/IP transmission. Default 0
# POLLINGDATATIMEOUT:        The timeout in the ReadData polling cycle in millisecond. Default 500
# DATALINKPOLARITY:          Enable or disable the polarity inversion of HSDL lines. 0 = Not inverted
# DATALINKSPEED:             The HSDL speed definition. 0 => 400 MHz, 1 => 600 MHz, 2 => 1.2 GHz
# MANCHESTERDISABLED:        Default 0. 0 = enable manchester encoding, 1 = disable
# MASTERSLAVEMODEON:         Default 1. 1 = activated, 0 = off (use for backward compatibility with old firmware)
# MASTERSLAVEMODE:           Default 0. 0 = alone, 1 = master, 2 = slave
# TRGRECORDERENABLE:         Default 0. 0 = disable trigger recording, 1 = enable

CONTROLLATENCYMODE  0
POLLINGDATATIMEOUT  500
DATALINKPOLARITY    0
DATALINKSPEED   2

##############################################################################
#
#             Chip Settings
#
##############################################################################

##### Mode control register settings

# READOUTMODE:          0-triggered, 1-continuous; default 0
# ENABLECLUSTERING:     0-disable, 1-enable clustering of nearby hits; default 1
# MATRIXREADOUTSPEED:   readout of one pixel hit in each region every 0-four (1-two) clock cycles i.e. 10 MHz (20 MHz); default 1
# LINKSPEED:            link speed for inner barrel chips; MOSAIC has one setting for all chips, therefore do not index with chip #
#                       values are 0 => 400 MHz , 1 => 600 MHz, 2 => 1.2 GHz; default 2
# ENABLESKEWINGGLOBAL:  0-disable, 1-enable skewing of global signals to the matrix; default 0
# ENABLESKEWINGSTARTRO: 0-disable, 1-enable skewing of the start-of-readout processes in the region; default 0
# ENABLECLOCKGATING:    0-disable, 1-enable the clock gating for the readout (RRU, TRU); default 0 i.e. the clock of RRU and TRU is always active
# ENABLECMUREADOUT:     0-disable, 1-enable. When enabled, frame data are not transmitted off-chip until fetched by the user; default 0

LINKSPEED 2
ENABLESKEWINGGLOBAL 1
ENABLESKEWINGSTARTRO 1

##### DAC settings: name of the Alpide DAC

## (Changing VCASN, then VCASN2 have to be VCASN + 12)
#
### Reverse substrate bias (Vbb) dependent settings:
# Vbb:      0V, -3V, -6V
# VCASN:    50, 105, 135
# VCLIP:     0,  60, 100
# VRESETD: 117, 117, 147

ITHR	51
IDB 29
VCASN   50
VCASN2  62
VCLIP   0
VRESETD	117
VCASP   86
VPULSEL 0
VPULSEH 170
IBIAS 64

##### FROMU settings

# PIXELMEBMASK:             default b000 enables all three MEB slices; default 0
# ENABLEINTERNALSTROBE:     1-enable strobe sequencer for continuous mode; default 0
# ENABLEBUSYMONITORING:     1-enable, controls if FROMU monitors the BUSY input and reject triggers when the BUSY is asserted; default 1
# TESTPULSEMODE:            type of pulsing (1-analog or 0-digital) of the pixels; default 1
# ENABLETESTSTROBE:         1-enable the automatic generation of an internal TRIGGER pulse after a PULSE command; default 0
# ENABLEROTATEPULSELINES:   1-enable automatic shift and rotate selected pulse line after each PULSE signal; default 0

# TRIGGERDELAY:             delay between external trigger command and internally generated strobe; default: 0
# STROBEDURATION:           length of strobe signal; default: 80 (2 us)
# STROBEGAP:                gap between subsequent strobes when internal sequencer mode is activated; default
# STROBEDELAYCHIP:          delay between pulse and strobe if strobe is generated on chip; default 20 (500 ns)
# PULSEDURATION:            length of pulse signal; default: 500 (12.5 us)

ENABLEBUSYMONITORING    1
TESTPULSEMODE   1
STROBEDURATION  200
# STROBEDURATION  20
STROBEDELAYCHIP  0
PULSEDURATION   300

##### CMU settings

# DISABLEMANCHESTER:        0-enable, 1-disable CMU Manchester encoding; default 0
# ENABLEDDR:                0-disable, 1-enable DDR on local bus; default 1

DISABLEMANCHESTER 1

##### DTU Configuration Register settings

# DTUCFGPLLPHASE:   serializer phase, 4bit value, default 8
# DTUCFGPLLSTAGES:  PLL VCO delay stages control, 2bit value, 0 -> 3 stages, 1 -> 4 stages,  3 -> 5 stages; default 1 -> 4 stages

DTUCFGPLLSTAGES 0

##### DTU DACs Register settings

# DTUDACSPLLCHARGEPUMP:     PLL charge pump current setting, 4bit value; default 8
# DTUDACSHSDRIVER:          High speed line driver current setting, 4bit value; default 15
# DTUDACSPREEMPDRIVER:      Pre-emphasis driver current setting, 4bit value; default 15

##### DTU Test Register 1 settings

# DTUTEST1TESTENABLE:    1-activate DTU test mode (required for all the other settings to be effective but DTU_TEST1_BYPASS_8B10B); default 0
# DTUTEST1PRBSENABLE:    0-constant test pattern or 1-test pattern generated by internal pseudo-random pattern generator (PRBS); default 0
# DTUTEST1SINGLEMODE:    1-enable DTU Logic to operate in single lane mode, producing 400 Mb/s output stream; default 0
# DTUTEST1PRBSRATE:      PRBS rate. Values are 0 => 1.2 GHz, 1 => 400 Mb/s, 2 => 600 Mb/s, 3 => reset of the pattern generator; default 0
# DTUTEST1BYPASS8B10B:   1-forces bypassing the 8b10b encoding stage (setting is effective independantly of DTU_TEST1_TEST_ENABLE); default 0
